Node-RED flow/Wapets-NodeRED.json
[{"id":"e733102c.d7328","type":"tab","label":"Main","disabled":false,"info":""},{"id":"1dc36080.52105","type":"watson-speech-to-text","z":"e733102c.d7328","name":"","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"NarrowbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"Gailcole94.","apikey":"BNbrvSYFcv9vcwf0xRs2FyF9Jgk4BpdFAnYecrCicYCH","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/fe871c82-b7a0-4479-95fc-2b8d488b7e33","x":620,"y":480,"wires":[["5a0ccf45.2fac9","25c0039f.6fcf3c"]]},{"id":"5a0ccf45.2fac9","type":"function","z":"e733102c.d7328","name":"Prepare for Bot","func":"if(msg.transcription !== undefined){\n    msg.payload = msg.transcription;\n}\n\n// We pass the message of the user to the flow context variable $userMessage.\nflow.set(\"userMessage\",msg.payload);\n\n// We update the FavoritePet\nvar highest = 0;\nvar favorite = \"DukeBot\";\nvar botInteractions = flow.get(\"botInteractions\");\nfor (var i in botInteractions){\n    if (botInteractions[i] > highest){\n        highest = botInteractions[i];\n        favorite = i;\n    }\n}\n\nflow.set(\"favoritePet\",favorite);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":420,"wires":[["661a1c2a.a5b854"]]},{"id":"661a1c2a.a5b854","type":"watson-conversation-v1","z":"e733102c.d7328","name":"AgentBot","workspaceid":"646adc9b-1c78-4a46-bbbb-de999d18d82b","multiuser":false,"context":true,"empty-payload":true,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/07e4728a-7eee-4d2b-ba5a-f64d8df2a2bb/v1/workspaces/646adc9b-1c78-4a46-bbbb-de999d18d82b/message","timeout":"","optout-learning":false,"x":1200,"y":420,"wires":[["ac35e2e8.c5036","4e49a5e.fddf55c"]]},{"id":"1234653b.7451ab","type":"switch","z":"e733102c.d7328","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"WelcomeBot","vt":"str"},{"t":"eq","v":"DukeBot","vt":"str"},{"t":"eq","v":"OmarBot","vt":"str"},{"t":"eq","v":"SandyBot","vt":"str"}],"checkall":"false","repair":true,"outputs":4,"x":1580,"y":420,"wires":[["30ee36b2.01489a"],["d14c871a.1a0058"],["80b8e28b.38993"],["2d0eb085.073bc"]]},{"id":"ac35e2e8.c5036","type":"function","z":"e733102c.d7328","name":"Prepare for switch","func":"// We pass the name of the bot to call.\nif (msg.payload === undefined) {\n    // If nothing was heard, we make the last Accessed Bot the bot to call.\n    msg.payload = flow.get(\"lastAccessedBot\");\n} else {\n    // If sth was heard...\n    if (msg.payload.output.text[0] == \"AnythingElseBot\"){\n        // If no Bot had a match of first level, we send it to the last Accessed Bot.\n        msg.payload = flow.get(\"lastAccessedBot\");\n    } else {\n        // Else, if a Bot actually had a first-level match, we send it to this Bot.\n        msg.payload = msg.payload.output.text[0];\n    }\n}\n\n//We save the moment this request happens\nvar moment = Date.now();\nvar interactionMoments = flow.get(\"interactionMoments\");\ninteractionMoments.push(moment);\nflow.set(\"interactionMoments\",interactionMoments);\n\n//If it is a greeting(or appearance) and it's the 1st interaction of the day, we invoke Duke, otherwise, we invoke favoritePet.\nif (msg.payload === \"Greetings\"){\n    //We check if it is the 1st interaction of the day\n    var beginningOfThisDay = Math.floor(moment / (24 * 60 * 60 * 1000));\n    var interactionsToday = 0;\n    var thisIsTheFirstInteraction = true;\n    for (var i = 0; i<interactionMoments.length; i++){\n        if (interactionMoments[i] > beginningOfThisDay){\n            interactionsToday = interactionsToday + 1;\n        }\n        if (interactionsToday == 2){\n            thisIsTheFirstInteraction = false;\n            break;\n        }\n    }\n    \n    if (thisIsTheFirstInteraction === true){\n        msg.payload = \"DukeBot\";\n        flow.set(\"userMessage\",\"c89a17bc-3fe8-43e8-a95a-35148e6ff4bd\");\n    } else {\n        var favoritePet = flow.get(\"favoritePet\");\n        msg.payload = favoritePet;\n        // If the favorite Pet is Duke, we want to make sure the flow does not go to Greetings1st withing DukeBot algorithm.\n        if (favoritePet === \"DukeBot\"){\n            // There is an intent in DukeBot called #Greetings2nd with only one example intent: \"2nd time user appears in the room\".\n            flow.set(\"userMessage\",\"9d4a5208-3f78-4b55-8c2f-ffba9ce87290\");\n        }\n    }\n}\n\n//If the greetings are directly to Duke (explicitely), we want to make sure Duke answers correspondingly\nif (msg.payload === \"GreetingsToDuke\"){\n    msg.payload = \"DukeBot\";\n    if (thisIsTheFirstInteraction === true){\n        flow.set(\"userMessage\",\"User wakes up\");\n    } else {\n        flow.set(\"userMessage\",\"2nd time user appears in the room\");\n    }\n}\n\n// We add one interaction to this Bot.\nvar botInteractions = flow.get(\"botInteractions\");\n\nswitch(msg.payload) {\n    case \"DukeBot\":\n    botInteractions.DukeBot = botInteractions.DukeBot + 1;\n    break;\n    case 'OmarBot':\n    botInteractions.OmarBot = botInteractions.OmarBot + 1;\n    break;\n    case 'SandyBot':\n    botInteractions.SandyBot = botInteractions.SandyBot + 1;\n    break;\n}\nflow.set(\"botInteractions\",botInteractions);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1400,"y":420,"wires":[["1234653b.7451ab"]]},{"id":"30ee36b2.01489a","type":"function","z":"e733102c.d7328","name":"Prepare for WelcomeBot","func":"//We put the user message in msg.payload.\nmsg.payload = flow.get(\"userMessage\");\n\n//We stablish that this is the last visited Bot.\nflow.set(\"lastAccessedBot\",\"WelcomeBot\");\n\n//We pull the last context from the Bot.\nmsg.context = flow.get(\"context\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1830,"y":280,"wires":[["bd55c1dd.5b8ea"]]},{"id":"bd55c1dd.5b8ea","type":"watson-assistant-v2","z":"e733102c.d7328","name":"WelcomeBot","service-endpoint":"","assistant_id":"28ff64cd-63c6-43d5-9d06-f90181957f72","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":false,"timeout":"","optout-learning":false,"x":2070,"y":280,"wires":[["584581e7.b2991"]]},{"id":"584581e7.b2991","type":"function","z":"e733102c.d7328","name":"Prepare for Output","func":"//If the user's name has been said, we store it.\nif(msg.payload.context.skills[\"main skill\"].user_defined !== undefined){\n    if(msg.payload.context.skills[\"main skill\"].user_defined.name !== undefined){\n    var userName = msg.payload.context.skills[\"main skill\"].user_defined.name;\n    flow.set(\"userName\",userName);\n    }\n}\n\n//If the name of the sender of a message has been said, we store it.\nif(msg.payload.context.skills[\"main skill\"].user_defined !== undefined){\n    if(msg.payload.context.skills[\"main skill\"].user_defined.hearUserName !== undefined){\n    var hearUserName = msg.payload.context.skills[\"main skill\"].user_defined.hearUserName;\n    flow.set(\"hearUserName\",hearUserName);\n    }\n}\n\n//If the name of the receptor of a message has been said, we store it.\nif(msg.payload.context.skills[\"main skill\"].user_defined !== undefined){\n    if(msg.payload.context.skills[\"main skill\"].user_defined.receptorName !== undefined){\n    receptorName = msg.payload.context.skills[\"main skill\"].user_defined.receptorName;\n    flow.set(\"receptorName\",receptorName);\n    }\n}\n\n//If the message to be sent has been said, we store it.\nif(msg.payload.context.skills[\"main skill\"].user_defined !== undefined){\n    if(msg.payload.context.skills[\"main skill\"].user_defined.messageToSend !== undefined){\n    var messageToSend = msg.payload.context.skills[\"main skill\"].user_defined.messageToSend;\n    flow.set(\"messageToSend\",messageToSend);\n    }\n}\n\n//If the interest to search on Youtube has been said, we store it.\nif(msg.payload.context.skills[\"main skill\"].user_defined !== undefined){\n    if(msg.payload.context.skills[\"main skill\"].user_defined.interestToHear !== undefined){\n    var interestToHear = msg.payload.context.skills[\"main skill\"].user_defined.interestToHear;\n    flow.set(\"interestToHear\",interestToHear);\n    }\n}\n\n\n//If an interestHeard was said, save it on the flow.\nif(msg.payload.context.skills[\"main skill\"].user_defined !== undefined){\n    if(msg.payload.context.skills[\"main skill\"].user_defined.interestSaid !== undefined){\n    var interestSaid = msg.payload.context.skills[\"main skill\"].user_defined.interestSaid;\n    flow.set(\"interestHeard\",interestSaid);\n    }\n}\n\n//Finally, we extract the text output.\nvar completeOutput = msg.payload.output.generic;\nvar finalAnswer = '';\nfor (var i = 0; i<completeOutput.length; i++){\n    if(completeOutput[i].text){\n        finalAnswer = finalAnswer + ' ' + completeOutput[i].text;\n    }\n}\n\nmsg.payload = finalAnswer;\nmsg.pet = flow.get(\"lastAccessedBot\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2310,"y":400,"wires":[["af9d292a.5188c8"]]},{"id":"bb494a94.de6d48","type":"watson-assistant-v2","z":"e733102c.d7328","name":"DukeBot","service-endpoint":"","assistant_id":"d4c621e5-f73b-48eb-8708-b7391b866384","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":false,"timeout":"","optout-learning":false,"x":2060,"y":360,"wires":[["584581e7.b2991"]]},{"id":"d14c871a.1a0058","type":"function","z":"e733102c.d7328","name":"Prepare for DukeBot","func":"//We put the user message in msg.payload.\nmsg.payload = flow.get(\"userMessage\");\n\n//We stablish that this is the last visited Bot.\nflow.set(\"lastAccessedBot\",\"DukeBot\");\n\n//We pull the last context from the Bot.\nmsg.context = flow.get(\"context\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1830,"y":360,"wires":[["bb494a94.de6d48"]]},{"id":"895686c4.e9fa38","type":"watson-assistant-v2","z":"e733102c.d7328","name":"OmarBot","service-endpoint":"","assistant_id":"609ce665-7a5b-445d-aef9-4ff64dde884e","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":false,"timeout":"","optout-learning":false,"x":2060,"y":440,"wires":[["584581e7.b2991"]]},{"id":"2a4869d7.fb3576","type":"watson-assistant-v2","z":"e733102c.d7328","name":"SandyBot","service-endpoint":"","assistant_id":"f1393757-16cf-4f03-bbc5-c0dd25536e42","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":false,"timeout":"","optout-learning":false,"x":2060,"y":520,"wires":[["584581e7.b2991"]]},{"id":"80b8e28b.38993","type":"function","z":"e733102c.d7328","name":"Prepare for OmarBot","func":"//We put the user message in msg.payload.\nmsg.payload = flow.get(\"userMessage\");\n\n//We stablish that this is the last visited Bot.\nflow.set(\"lastAccessedBot\",\"OmarBot\");\n\n//We pull the last context from the Bot.\nmsg.context = flow.get(\"context\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1840,"y":440,"wires":[["895686c4.e9fa38"]]},{"id":"2d0eb085.073bc","type":"function","z":"e733102c.d7328","name":"Prepare for SandyBot","func":"//We put the user message in msg.payload.\nmsg.payload = flow.get(\"userMessage\");\n\n//We stablish that this is the last visited Bot, except if the message is FacebookMessageReceived. The reason for this is that if we were talking to a bot (example, Omar), and a message arrives in the middle of the conversation, I want Sandy to notify me that a message has arrived, but, unless I talk about messages specifically, I want to be able to continue talking to the last bot (Omar).\nflow.set(\"lastAccessedBot\",\"SandyBot\");\n\n//We pull the last context from the Bot.\nmsg.context = flow.get(\"context\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1830,"y":520,"wires":[["2a4869d7.fb3576"]]},{"id":"af9d292a.5188c8","type":"function","z":"e733102c.d7328","name":"Pack Output","func":"var pet = msg.pet;\nvar pyl = msg.payload;\n\n//if the string watsonUserName is on the answer, we want to replace it with the context variable userName.\nvar userName = flow.get(\"userName\");\nif(userName !== undefined){\n    pyl = pyl.replace(\"watsonUserName\",userName);\n}\n\n//if the string senderUserName is on the answer, we want to replace it with the context variable senderUserName.\nvar senderUserName = flow.get(\"senderUserName\");\nif(senderUserName !== undefined){\n    pyl = pyl.replace(\"senderUserName\",senderUserName);\n}\n\n//if the string putmessagehere is on the answer, we want to replace it with the context variable hearUserMessage.\nvar userId = flow.get('userIdToSendOrHear');\nif (userId !== undefined && pyl.includes('putmessagehere')){\n    var lastMessages = flow.get('lastMessages');\n    pyl = pyl.replace('putmessagehere', lastMessages[userId].message.text);\n}\n\n//If the string a58f6ca1-fffc-4507-b0ba-79b8c4f2a49a is on the answer, we want to erase it. This means the bot wants the flow to look for a name in the lastMessages list in context.\nif(pyl.includes('a58f6ca1-fffc-4507-b0ba-79b8c4f2a49a')){\n    \n    // We look for the hearUserName (no spaces or capital letters) in our userNameToId object.\n    var hearUserName = flow.get('hearUserName');\n    hearUserName = hearUserName.replace(/\\s/g,\"\").toLowerCase();\n    var userNameToId = flow.get(\"userNameToId\");\n    \n    //If we find the user, we store the userIDtoSendOrHear for later.\n    if (userNameToId[hearUserName]!== undefined){\n        pyl = 'f7902afe-d7a9-4a8d-9df4-76226126083a';\n        var userIdToSendOrHear = userNameToId[hearUserName];\n        flow.set('userIdToSendOrHear',userIdToSendOrHear);\n    }else{\n        pyl = '0ce1be4d-4e19-476b-ad14-8c83473fd6d6';\n    }\n    \n    //The answer of this call is a system answer, it should not arrive to the user.\n    flow.set('answerToUser',false);\n    flow.set('systemMessage',pyl);\n    msg.payload = pyl;\n    return msg;\n}else{\n    flow.set('answerToUser',true);\n    msg.payload = [pyl,pet];\n}\n\n//If the string 73e038f4-2c8d-48f7-be50-34e2c3415f4e is on the answer, we want to erase it. This means the bot wants the flow to look for a name in the lastMessages list in context.\nif(pyl.includes('73e038f4-2c8d-48f7-be50-34e2c3415f4e')){\n    \n    // We look for the receptorName (no spaces or capital letters) in our userNameToId object.\n    var receptorName = flow.get('receptorName');\n    receptorName = receptorName.replace(/\\s/g,\"\").toLowerCase();\n    var userNameToId2 = flow.get(\"userNameToId\");\n    \n    //If we find the user, we store the userIDtoSendOrHear for later.\n    if (userNameToId2[receptorName]!== undefined){\n        pyl = 'f7902afe-d7a9-4a8d-9df4-76226126083a';\n        var userIdToSendOrHear2 = userNameToId2[receptorName];\n        flow.set('userIdToSendOrHear',userIdToSendOrHear2);\n    }else{\n        pyl = '0ce1be4d-4e19-476b-ad14-8c83473fd6d6';\n    }\n    \n    //The answer of this call is a system answer, it should not arrive to the user.\n    flow.set('answerToUser',false);\n    flow.set('systemMessage',pyl);\n    msg.payload = pyl;\n    return msg;\n}else{\n    flow.set('answerToUser',true);\n    msg.payload = [pyl,pet];\n}\n\n//If the string 8d071938-b876-4264-af65-fe5a1f1df02f is on the answer. This means the bot wants the flow to look for the existance of any confirmed interest.\nif(pyl.includes('8d071938-b876-4264-af65-fe5a1f1df02f')){\n    var confirmedInterest = flow.get('confirmedInterests');\n    if (confirmedInterest.length === 0){\n        //If the system does not know yet about any interest of the user\n        pyl = 'd6557376-2247-4359-878e-c68236180a20';\n    }else{\n        pyl = '6540bf96-201b-47db-8eac-18602d6677b0';\n    }\n    \n    //The answer of this call is a system answer, it should not arrive to the user.\n    flow.set('answerToUser',false);\n    flow.set('systemMessage',pyl);\n    msg.payload = pyl;\n    return msg;\n}else{\n    flow.set('answerToUser',true);\n    msg.payload = [pyl,pet];\n}\n\n//If the string 9bb84e50-262b-4b15-882a-6c3018d98a06 is on the answer, replace it with the list of confirmed interests the user has so far.\nif(pyl.includes('9bb84e50-262b-4b15-882a-6c3018d98a06')){\n    var interestsString = '';\n    var interests = flow.get('confirmedInterests');\n\n    for(var n=0;n<interests.length;n++){\n        if(n===0){\n            interestsString = interestsString + interests[n];\n        }else if(n<interests.length-1){\n            interestsString = interestsString + ', ' + interests[n];\n        }else{\n            interestsString = interestsString + ' and ' + interests[n];\n        }\n    }\n    pyl = pyl.replace('9bb84e50-262b-4b15-882a-6c3018d98a06',interestsString);\n    msg.payload = [pyl,pet];\n}\n\n//If the string f2f9bbf6-3c2e-4463-a87a-b0d1caefaf0d is on the answer, I want the system to start looking for videos about the $interestToHear.\nif(pyl.includes('f2f9bbf6-3c2e-4463-a87a-b0d1caefaf0d')){\n    pyl = pyl.replace('f2f9bbf6-3c2e-4463-a87a-b0d1caefaf0d','');\n    flow.set('searchYoutube',true);\n    flow.set('answerToUser',false);\n    return msg;\n}else{\n    flow.set('searchYoutube',false);\n    flow.set('answerToUser',true);\n    msg.payload = [pyl,pet];\n}\n\n//If the string f7cc9279-53e2-4cfd-afcf-66997a60a0fd is on the answer, we want to erase it. This means the bot wants the $messageToSend to be sent to $receptorName.\nif(pyl.includes('f7cc9279-53e2-4cfd-afcf-66997a60a0fd')){\n    pyl = pyl.replace('f7cc9279-53e2-4cfd-afcf-66997a60a0fd','');\n    flow.set('sendFBConfirmation',true);\n    msg.payload = [pyl,pet];\n}else{\n    flow.set('sendFBConfirmation',false);\n    msg.payload = [pyl,pet];\n}\n\n//If the string e842156a-97b0-402c-ac93-92582990292c is on the answer, I want the system to load the first videos in the string videosToWatch.\nif(pyl.includes('e842156a-97b0-402c-ac93-92582990292c') || pyl.includes('64b73959-364f-4acb-920c-5b5e46dda005')){\n    pyl = pyl.replace('e842156a-97b0-402c-ac93-92582990292c','');\n    pyl = pyl.replace('64b73959-364f-4acb-920c-5b5e46dda005','');\n    flow.set('loadVideo',true);\n    msg.payload = [pyl,pet];\n}else{\n    flow.set('loadVideo',false);\n    msg.payload = [pyl,pet];\n}\n\n//If the string 6ccb9789-5c3a-4e1b-9beb-11580e5ee33e is on the answer, it is a system call that the user wants to start confirming the interests the bot has saves.\nif(pyl.includes('6ccb9789-5c3a-4e1b-9beb-11580e5ee33e')){\n    interestsArray = flow.get('possibleInterests');\n    if(interestsArray.length > 0){\n        pyl = '5c21c58f-72a1-4a82-9e94-47dd1cccac4d';\n    }else{\n        pyl = 'cee27611-c066-407b-8717-c2fac6061b23';\n    }\n\n    //The answer of this call is a system answer, it should not arrive to the user.\n    flow.set('answerToUser',false);\n    flow.set('systemMessage',pyl);\n    msg.payload = pyl;\n    return msg;\n}else{\n    flow.set('answerToUser',true);\n    msg.payload = [pyl,pet];\n}\n\n//If the string e538437a-1373-4c4f-910e-74978a95bbd9 is on the answer, it is a system call to ge the next interest to confirm.\nif(pyl.includes('e538437a-1373-4c4f-910e-74978a95bbd9')){\n    interestsArray = flow.get('possibleInterests');\n    pyl = interestsArray.pop();\n\n    //The answer of this call is a system answer, it should not arrive to the user.\n    flow.set('answerToUser',false);\n    flow.set('systemMessage',pyl);\n    msg.payload = pyl;\n    return msg;\n}else{\n    flow.set('answerToUser',true);\n    msg.payload = [pyl,pet];\n}\n\n//If the string c1016336-44b3-4442-9de7-3b9c281ae163 is on the answer, it is a system call to (YES) save the last possible interest.\nif(pyl.includes('c1016336-44b3-4442-9de7-3b9c281ae163')){\n    interestsArray = flow.get('possibleInterests');\n    var lastInterest =  interestsArray.pop();\n    flow.set('possibleInterests',interestsArray);\n    var confirmedInterests = flow.get('confirmedInterests');\n    confirmedInterests.push(lastInterest);\n    flow.set('confirmedInterests',confirmedInterests);\n    \n    if(interestsArray.length === 0){\n        pyl = 'cee27611-c066-407b-8717-c2fac6061b23';\n    }else{\n        pyl = interestsArray.pop();\n    }\n    \n    //The answer of this call is a system answer, it should not arrive to the user.\n    flow.set('answerToUser',false);\n    flow.set('systemMessage',pyl);\n    msg.payload = pyl;\n    return msg;\n}else{\n    flow.set('answerToUser',true);\n    msg.payload = [pyl,pet];\n}\n\n//If the string ab56049b-9307-48d4-97ed-b71bd0c5f662 is on the answer, it is a system call to (NO) do not save the last possible interest.\nif(pyl.includes('ab56049b-9307-48d4-97ed-b71bd0c5f662')){\n    interestsArray = flow.get('possibleInterests');\n    var lastInterest2 =  interestsArray.pop();\n    flow.set('possibleInterests',interestsArray);\n    \n    if(interestsArray.length === 0){\n        pyl = 'cee27611-c066-407b-8717-c2fac6061b23';\n    }else{\n        pyl = interestsArray.pop();\n    }\n    \n    //The answer of this call is a system answer, it should not arrive to the user.\n    flow.set('answerToUser',false);\n    flow.set('systemMessage',pyl);\n    msg.payload = pyl;\n    return msg;\n}else{\n    flow.set('answerToUser',true);\n    msg.payload = [pyl,pet];\n}\n\n//If the string 8152b6b4-fffe-49b9-ac88-f54bd94baa9b is on the answer, I want the system save the interest just mentioned.\nif(pyl.includes('8152b6b4-fffe-49b9-ac88-f54bd94baa9b')){\n    pyl = pyl.replace('8152b6b4-fffe-49b9-ac88-f54bd94baa9b','');\n    var confirmedInterests2 = flow.get('confirmedInterests');\n    var interestHeard = flow.get('interestHeard');\n    var repeated = false\n    for(var m; m<confirmedInterests2.length; m++){\n        if(interestHeard === confirmedInterests2[m]){\n            repeated = true;\n            break;\n        }\n    }\n    if(repeated === false){\n        confirmedInterests2.push(interestHeard);\n        flow.set('confirmedInterests',confirmedInterests2);\n    }\n    msg.payload = [pyl,pet];\n}else{\n    msg.payload = [pyl,pet];\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2510,"y":400,"wires":[["70fce83b.768328"]]},{"id":"e369d5c1.777508","type":"inject","z":"e733102c.d7328","name":"Reset","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Reset","payloadType":"str","x":210,"y":1240,"wires":[["93e90652.1e0958"]]},{"id":"93e90652.1e0958","type":"function","z":"e733102c.d7328","name":"Reset context variables","func":"//resetCountOfBotInteractions\nflow.set('botInteractions',{\"DukeBot\":0,\"OmarBot\":0,\"SandyBot\":0});\n\n//reset context, favoritePet, interactionMoments, lastAccessedBot, session_id, userMessage\nflow.set('context',{});\nflow.set('favoritePet','');\nflow.set('fromHTTP',false);\nflow.set('interactionMoments',[]);\nflow.set('lastAccessedBot','DukeBot');\nflow.set('session_id','');\nflow.set('userMessage','');\nflow.set('lastMessages',{});\nflow.set('senderId','');\nflow.set('userNameToId',{});\nflow.set('confirmedInterests',[]);\nflow.set('systemMessage','');\nflow.set('interestToHear','');\nflow.set('receptorUserName','');\nflow.set('senderUserName','');\nflow.set('userIdToSendOrHear','');\nflow.set('messageToSend','');\nflow.set('hearUserName','');\nflow.set('searchYoutube',false);\nflow.set('videosToWatch',[]);\nflow.set('loadVideo',false);\nflow.set('possibleInterests',[]);\nflow.set('iInterestToConfirm',0);\n","outputs":0,"noerr":0,"initialize":"","finalize":"","x":460,"y":1240,"wires":[]},{"id":"817c2588.f3e0e8","type":"http in","z":"e733102c.d7328","name":"Messenger Verification Webhook","url":"/messengerWebhooks","method":"get","upload":false,"swaggerDoc":"","x":270,"y":1560,"wires":[["d6927510.30e3c8"]]},{"id":"dfedc4c3.87d298","type":"http response","z":"e733102c.d7328","name":"","statusCode":"","headers":{},"x":780,"y":1560,"wires":[]},{"id":"d6927510.30e3c8","type":"function","z":"e733102c.d7328","name":"GET Subscribe","func":"var mode = '';\nvar vtoken = '';\nvar challenge = '';\n\nif(msg.payload['hub.mode']){\n    mode = msg.payload['hub.mode'];\n}\n\nif(msg.payload['hub.verify_token']){\n    vtoken = msg.payload['hub.verify_token'];\n}\n\nif(msg.payload['hub.challenge']){\n    challenge = msg.payload['hub.challenge'];\n}\n\nif ('subscribe' == mode && 'IBMVerificationTokenWapets' == vtoken) {\n    msg.payload = challenge;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":1560,"wires":[["dfedc4c3.87d298"]]},{"id":"8fc3a60f.ccff78","type":"http in","z":"e733102c.d7328","name":"Messenger Chat Listener","url":"/messengerWebhooks","method":"post","upload":false,"swaggerDoc":"","x":250,"y":1760,"wires":[["c7ed94e5.861588","2715a57e.1811ea"]]},{"id":"3a8969d8.301a26","type":"http response","z":"e733102c.d7328","name":"","statusCode":"","headers":{},"x":780,"y":1720,"wires":[]},{"id":"c7ed94e5.861588","type":"function","z":"e733102c.d7328","name":"Process meessage","func":"if(msg.payload.object && \"page\" == msg.payload.object){\n    if(msg.payload.entry){\n        var entry = msg.payload.entry;\n        for(var i=0; i<entry.length; i++){\n            var pageID = entry[i].id;\n            var timeOfEvent = entry[i].time;\n            var messaging = entry[i].messaging;\n            for(var j=0; j<messaging.length; j++){\n                if(messaging[j].message){\n                    msg.messagingEvent = messaging[j];\n                    node.send([msg,null]);\n                }else{\n                    msg.messagingEvent = {};\n                }\n            }\n        }\n    }\n}\n\n\nreturn[null,msg];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":540,"y":1760,"wires":[["3a8969d8.301a26"],["ca4ca58b.a297d8"]]},{"id":"4c2b9048.db121","type":"comment","z":"e733102c.d7328","name":"MAIN FLOW","info":"","x":190,"y":80,"wires":[]},{"id":"c9722db7.a2a26","type":"comment","z":"e733102c.d7328","name":"ON OFF RESET","info":"","x":220,"y":1180,"wires":[]},{"id":"2e4164d4.3ce38c","type":"comment","z":"e733102c.d7328","name":"WAPETS WEB","info":"","x":980,"y":1220,"wires":[]},{"id":"d5ec1c63.64819","type":"comment","z":"e733102c.d7328","name":"FACEBOOK","info":"","x":210,"y":1420,"wires":[]},{"id":"ca4ca58b.a297d8","type":"switch","z":"e733102c.d7328","name":"","property":"messagingEvent","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":780,"y":1800,"wires":[["d22488bf.228018"]]},{"id":"d22488bf.228018","type":"function","z":"e733102c.d7328","name":"Extract user name","func":"//We store the message as the last message of this user.\nvar lastMessages = flow.get('lastMessages');\nvar senderId=msg.payload.entry[0].messaging[0].sender.id;\nlastMessages[senderId] = msg.messagingEvent;\nflow.set('lastMessages',lastMessages);\nflow.set('senderId',senderId);\n\n//We extract the sender's name and last name\nmsg.url='https://graph.facebook.com/v2.6/'+senderId+'?fields=first_name,last_name&access_token=EAAsEHSFRpVgBAAEkn6dFgdxTwQ9Qrj00HE113R26Uk4LA64MF4xQLenxPtD59qRScOOCkpoaWBecuOHi7dmq0vlNgNQ0CuWSMZCZAoYFJNXWtbSh0TDKrLwvkkjxJi5FZApEZCOmPN9gax10JpmZBTplbtGZCqajUTszxUmY4ls5Qaf05YT7SRD5jZAtG9mV4IZD';\nmsg.useridTest=senderId;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":1800,"wires":[["b5773753.cde778"]]},{"id":"b5773753.cde778","type":"http request","z":"e733102c.d7328","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1170,"y":1800,"wires":[["b7c3361.47c6bc8","5fbf4529.5c975c"]]},{"id":"b7c3361.47c6bc8","type":"function","z":"e733102c.d7328","name":"Store sender Name","func":"//We store the name of the sender\n\nvar firstName=msg.payload.first_name;\nvar lastName=msg.payload.last_name;\n\nvar userNameToId = flow.get('userNameToId');\nvar nameKey = firstName + lastName;\nnameKey = nameKey.replace(\" \",\"\").toLowerCase();\nuserNameToId[nameKey] = flow.get('senderId');\nflow.set('userNameToId',userNameToId);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1390,"y":1800,"wires":[[]]},{"id":"70fce83b.768328","type":"switch","z":"e733102c.d7328","name":"User or System","property":"answerToUser","propertyType":"flow","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2720,"y":400,"wires":[["6cd4605d.ae95b","6e5f0032.76d4c"],["6987ab81.6a3014","f0619dc4.ce0f9"]]},{"id":"a4157984.edfe78","type":"link out","z":"e733102c.d7328","name":"","links":["d2e58cb7.70329"],"x":3135,"y":440,"wires":[]},{"id":"d2e58cb7.70329","type":"link in","z":"e733102c.d7328","name":"","links":["a4157984.edfe78"],"x":895,"y":220,"wires":[["5a0ccf45.2fac9"]]},{"id":"f0619dc4.ce0f9","type":"function","z":"e733102c.d7328","name":"Prepare System message","func":"msg.transcription = flow.get('systemMessage');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2970,"y":440,"wires":[["a4157984.edfe78"]]},{"id":"5fbf4529.5c975c","type":"function","z":"e733102c.d7328","name":"Prepare Notification","func":"var firstName = msg.payload.first_name; \nvar lastName = msg.payload.last_name;\n\nflow.set('senderUserName',firstName + \" \"+lastName);\n\nmsg.transcription = 'FacebookMessageReceived';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1400,"y":1720,"wires":[["99860cd3.1be53","79879e11.716a2"]]},{"id":"79879e11.716a2","type":"link out","z":"e733102c.d7328","name":"","links":["3d976472.237d8c","402647d8.29dff8"],"x":1575,"y":1720,"wires":[]},{"id":"3d976472.237d8c","type":"link in","z":"e733102c.d7328","name":"","links":["79879e11.716a2"],"x":875,"y":260,"wires":[["5a0ccf45.2fac9"]]},{"id":"6cd4605d.ae95b","type":"function","z":"e733102c.d7328","name":"Prepare for Facebook","func":"var sendConfirmation = flow.get('sendFBConfirmation');\nif (sendConfirmation === true){\n    var messageToSend = flow.get('messageToSend');\n    msg.payload = messageToSend;\n    var idToSend = flow.get('userIdToSendOrHear');\n    msg.facebookevent = { \"sender\": { \"id\": idToSend }}\n    return msg;  \n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2960,"y":160,"wires":[["852c781.cb8e088"]]},{"id":"818a7dd5.2d357","type":"http request","z":"e733102c.d7328","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://www.googleapis.com/youtube/v3/search?part=snippet&maxResults=15&order=relevance&q={{{payload}}}&key= AIzaSyByyTYM0DNKUPBWRhsb5dMxW8V6gTrJdPY&type=video&regionCode=US ","tls":"","persist":false,"proxy":"","authType":"","x":3210,"y":520,"wires":[["81412dab.f6cc2"]]},{"id":"81412dab.f6cc2","type":"function","z":"e733102c.d7328","name":"Videos found?","func":"var searchResults = msg.payload;\nvar items = searchResults.items;\nvar videos = [];\n\nif(items === undefined){\n    // There was probably an error (quota) with the API\n    msg.transcription = 'a97fc8ed-21a7-4a6a-89b0-5535ca0beacf';\n}else{\n    if(items.length === 0){\n        // No videos were found.\n        msg.transcription = 'a97fc8ed-21a7-4a6a-89b0-5535ca0beacf';\n    }else{\n        for(var i=0; i<items.length; i++){\n            videos.push(items[i].id.videoId);\n        }\n        msg.videos = videos;\n        msg.transcription = 'e76e221d-ea9d-489a-9b6e-a4bfcd913b40';\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3440,"y":520,"wires":[["1c3368df.7b4217","92169506.666748"]]},{"id":"6987ab81.6a3014","type":"function","z":"e733102c.d7328","name":"Prepare for Youtube","func":"var searchYoutube = flow.get('searchYoutube');\nif (searchYoutube === true){\n    var interestToHear = flow.get('interestToHear');\n    msg.payload = interestToHear;\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2960,"y":520,"wires":[["818a7dd5.2d357","6ba1fbf2.8840a4"]]},{"id":"1c3368df.7b4217","type":"link out","z":"e733102c.d7328","name":"","links":["601e5020.d6f9f"],"x":3655,"y":520,"wires":[]},{"id":"601e5020.d6f9f","type":"link in","z":"e733102c.d7328","name":"","links":["1c3368df.7b4217"],"x":855,"y":300,"wires":[["5a0ccf45.2fac9"]]},{"id":"40237473.3e064c","type":"switch","z":"e733102c.d7328","name":"From HTTP","property":"fromHTTP","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":3470,"y":160,"wires":[["b142cca.df3c33"]]},{"id":"b142cca.df3c33","type":"http response","z":"e733102c.d7328","name":"","statusCode":"","headers":{},"x":3650,"y":160,"wires":[]},{"id":"852c781.cb8e088","type":"facebook-messenger-writer","z":"e733102c.d7328","name":"Send Message via Facebook","x":3240,"y":160,"wires":[["40237473.3e064c"]]},{"id":"d7c1de4d.04614","type":"ui_template","z":"e733102c.d7328","group":"686b1dac.a4ce64","name":"Title","order":1,"width":12,"height":6,"format":"<!DOCTYPE html>\n<html>\n    \n<head>\n<meta charset=\"utf-8\">\n<style>\n    .welcome{\n    padding-top: 1vw;\n    padding-left: 1vw;\n    font-family: Arial;\n    font-size: 1vw;\n    color: black;\n    line-height: 1.5vw;\n    }\n    \n    p{\n    padding-top: 1vw;\n    padding-left: 1vw;\n    line-height: 1.5vw;\n    }\n</style>\n</head>\n    \n<body>\n    <div class=\"welcome\">Duke, Sandy and Omar are excited to be your friends.</div>\n    <p>Duke will be there for anytime you need a friend. He gets very happy when he sees you, but very sad when you are away for a long time.</p>\n    <p>Sandy is there to assist you with the messages to your friends and family. Anytime you need to read your messages from Facebook or send someone a message, Sandy is there to help you. </p>\n    <p>Finally, Omar is happy to discover the internet with you. Tell him what things interest you, and he will look for them on Youtube and show you the most relevant videos.</p>\n</body>\n\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":950,"y":1300,"wires":[[]]},{"id":"87aa6528.0fc1c8","type":"ui_text_input","z":"e733102c.d7328","name":"Text input","label":"Type message here","tooltip":"Type here to send a message to your Wapets.","group":"686b1dac.a4ce64","order":5,"width":9,"height":1,"passthru":false,"mode":"text","delay":"0","topic":"","x":760,"y":820,"wires":[["7f3c47c5.ac9be8"]]},{"id":"c180d3e6.87735","type":"ui_text","z":"e733102c.d7328","group":"686b1dac.a4ce64","order":7,"width":12,"height":4,"name":"User typed message","label":"You: ","format":"{{msg.payload}}","layout":"row-left","x":520,"y":620,"wires":[]},{"id":"7f3c47c5.ac9be8","type":"function","z":"e733102c.d7328","name":"Save message","func":"global.set('textInput',msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":820,"wires":[[]]},{"id":"6e5f0032.76d4c","type":"function","z":"e733102c.d7328","name":"Prepare for Dashboard","func":"msg.pet = msg.payload[1];\nmsg.payload = msg.payload[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2980,"y":280,"wires":[["347a4cbc.f8cd54","38066fe6.384a7","d5e97260.4bb47"]]},{"id":"92169506.666748","type":"ui_template","z":"e733102c.d7328","group":"a02b2846.c08cd8","name":"Watch videos in Youtube","order":2,"width":30,"height":12,"format":"<head>\n    <title>Watch videos</title>\n    <meta charset=\"utf-8\">\n    <style>\n        .frame{\n        margin-top: 1vw;\n        margin-left: 13vw;\n        }\n        \n        .button{\n        background-color: #0D98DA;\n        border: none;\n        color: white;\n        padding: 15px 32px;\n        text-align: center;\n        text-decoration: none;\n        display: inline-block;\n        font-size: 1vw;\n        font-family:Arial;\n        height: 4vw;\n        width: 12vw;\n        cursor: pointer;\n        border-radius: 0.3vw;\n        margin-left: 0.5vw;\n        }\n        \n        .buttons{\n        margin-top: 1vw;\n        margin-left: 37vw;\n        } \n    </style>\n</head>\n\n<body>\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js\"></script>\n    <script type=\"text/javascript\">\n        // Create iframe from Youtube Api\n        var tag = document.createElement('script');\n        tag.id = 'iframe-demo';\n        tag.src = 'https://www.youtube.com/iframe_api';\n        var firstScriptTag = document.getElementsByTagName('script')[0];\n        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);\n        var player;\n        function onYouTubeIframeAPIReady() {\n            player = new YT.Player('iframeElement');\n        }\n        \n        var actualVideo = -1;\n        var videos = [];\n        \n        (function(scope) {\n          scope.$watch('msg', function(msg) {\n            if (msg) {\n                if(msg.videos){\n                    //A new Youtube search was done\n                    actualVideo = 0;\n                    videos = msg.videos;\n                    $(\"iframe\").attr(\"src\",\"https://www.youtube.com/embed/\"+videos[actualVideo]+\"?enablejsapi=1\");\n                }else if(msg.payload){\n                    switch(msg.payload){\n                        case 'previous':\n                            actualVideo = actualVideo - 1;\n                            $(\"iframe\").attr(\"src\",\"https://www.youtube.com/embed/\"+videos[actualVideo]+\"?enablejsapi=1\");\n                            break;\n                        case 'next':\n                            actualVideo = actualVideo + 1;\n                            $(\"iframe\").attr(\"src\",\"https://www.youtube.com/embed/\"+videos[actualVideo]+\"?enablejsapi=1\");\n                            break;\n                    }\n                }\n            }\n          });\n        })(scope);\n    </script>\n    \n    <div id='videos'></div>\n    <div class='frame'>\n        <iframe id=\"iframeElement\"\n            width=\"1200\" height=\"637.5\"\n            frameborder=\"0\"\n            style=\"border: solid 4px #37474F\"\n        ></iframe>\n    </div>\n</body>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":3690,"y":580,"wires":[[]]},{"id":"756f688f.da5b68","type":"ui_button","z":"e733102c.d7328","name":"Previous","group":"a02b2846.c08cd8","order":4,"width":3,"height":1,"passthru":false,"label":"Previous","tooltip":"","color":"white","bgcolor":"grey","icon":"skip_previous","payload":"previous","payloadType":"str","topic":"","x":3420,"y":580,"wires":[["92169506.666748"]]},{"id":"e986fd84.a261f","type":"ui_button","z":"e733102c.d7328","name":"Next","group":"a02b2846.c08cd8","order":6,"width":3,"height":1,"passthru":false,"label":"Next","tooltip":"","color":"white","bgcolor":"grey","icon":"skip_next","payload":"next","payloadType":"str","topic":"","x":3410,"y":640,"wires":[["92169506.666748"]]},{"id":"6ba1fbf2.8840a4","type":"ui_text","z":"e733102c.d7328","group":"a02b2846.c08cd8","order":1,"width":0,"height":0,"name":"Searched word","label":"Searched word: ","format":"{{msg.payload}}","layout":"row-center","x":3220,"y":580,"wires":[]},{"id":"2520e99e.5e7f16","type":"ui_text","z":"e733102c.d7328","group":"ccb15e6c.a6544","order":2,"width":12,"height":6,"name":"Typed answer","label":"{{msg.pet.slice(0, -3) + ':'}}","format":"{{msg.payload}}","layout":"col-center","x":3880,"y":200,"wires":[]},{"id":"347a4cbc.f8cd54","type":"ui_template","z":"e733102c.d7328","group":"ccb15e6c.a6544","name":"Pet picture","order":1,"width":12,"height":7,"format":"<!DOCTYPE html>\n<html>\n    \n<head>\n<meta charset=\"utf-8\">\n<style>\n    .picture{\n    display: inline-block; \n    vertical-align: middle;\n    }\n    \n    .frame{\n    padding-top: 1vw;\n    width: 35vw;\n    vertical-align: middle;\n    display: table-cell;\n    }\n    \n    img{\n    height: 20vw;\n    display: block;\n    margin: 0 auto;\n    }\n</style>\n</head>\n    \n<body>\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js\"></script>\n    <script type=\"text/javascript\">\n        (function(scope) {\n          scope.$watch('msg', function(msg) {\n            if (msg) {\n                switch(msg.pet){\n                    case 'WelcomeBot':\n                        $('#petPicture img').attr(\"src\",\"https://developers.gigya.com/download/attachments/14651038/IBM-Watson_logo.png?version=1&modificationDate=1579519995000&api=v2\");\n                        break;\n                    case 'DukeBot':\n                        $('#petPicture img').attr(\"src\",\"https://i.pinimg.com/originals/58/60/41/586041e4df5077a2f2bb885c221d468a.jpg\");\n                        break;\n                    case 'OmarBot':\n                        $('#petPicture img').attr(\"src\",\"https://thumbs.dreamstime.com/b/historieta-del-b%C3%BAho-que-lee-un-libro-48793189.jpg\");\n                        break;\n                    case 'SandyBot':\n                        $('#petPicture img').attr(\"src\",\"https://www.how-to-draw-funny-cartoons.com/images/draw-a-squirrel-001.jpg\");\n                        break;\n                    case 'HappyPets':\n                        $('#petPicture img').attr(\"src\",\"https://wapetsimgs.s3.eu.cloud-object-storage.appdomain.cloud/Happy_pets.jpg\");\n                        break;\n                    case 'SadPets':\n                        $('#petPicture img').attr(\"src\",\"https://wapetsimgs.s3.eu.cloud-object-storage.appdomain.cloud/Sad_pets.jpg\");\n                        break;\n                    default:\n                        $('#petPicture img').attr(\"src\",\"https://developers.gigya.com/download/attachments/14651038/IBM-Watson_logo.png?version=1&modificationDate=1579519995000&api=v2\");\n                        break;\n                }\n            }\n          });\n        })(scope);\n    </script>\n    <div class=\"picture\" id=\"petPicture\"><div class='frame'><img/></div></div>\n</body>\n\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":3290,"y":220,"wires":[[]]},{"id":"38066fe6.384a7","type":"switch","z":"e733102c.d7328","name":"ENG or SPA","property":"textInSpanish","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":3310,"y":360,"wires":[["cd5d6d93.27b3d"],["db1b8724.e7be18"]]},{"id":"b9fd89c8.0505a8","type":"ui_toast","z":"e733102c.d7328","position":"top right","displayTime":"10","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Notification","x":1850,"y":1640,"wires":[]},{"id":"99860cd3.1be53","type":"function","z":"e733102c.d7328","name":"Prepare for Web Notification","func":"var sender = flow.get('senderUserName');\nmsg.payload = \"You just received a message from \"+sender+\". Let Sandy know when you want to hear it and answer back.\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1620,"y":1640,"wires":[["b9fd89c8.0505a8","cf6d52f.38bf9b"]]},{"id":"f4e98bd8.776b58","type":"ui_switch","z":"e733102c.d7328","name":"","label":"Switch language","tooltip":"Choose your preferred language","group":"686b1dac.a4ce64","order":2,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"Spanish","onvalueType":"str","onicon":"","oncolor":"","offvalue":"English","offvalueType":"str","officon":"","offcolor":"","x":1170,"y":1300,"wires":[["239c22c.37b85de","553a031a.89b84c"]]},{"id":"239c22c.37b85de","type":"ui_text","z":"e733102c.d7328","group":"686b1dac.a4ce64","order":3,"width":6,"height":1,"name":"Current Language","label":"Current language: ","format":"{{msg.payload}}","layout":"row-right","x":1390,"y":1300,"wires":[]},{"id":"553a031a.89b84c","type":"function","z":"e733102c.d7328","name":"Save language","func":"switch(msg.payload){\n    case 'English':\n        flow.set('textInSpanish',false);\n        break;\n    case 'Spanish':\n        flow.set('textInSpanish',true);\n        break\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1380,"y":1360,"wires":[[]]},{"id":"9a22762b.5666d8","type":"switch","z":"e733102c.d7328","name":"SPA or ENG","property":"textInSpanish","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":700,"wires":[["c54f9e7a.7a43"],["aeace9c0.7b8f28"]]},{"id":"aeace9c0.7b8f28","type":"watson-translator","z":"e733102c.d7328","name":"Translator SPA-ENG","action":"translate","basemodel":"ar-en","domain":"general","srclang":"es","destlang":"en","password":"Gmailcole94.","apikey":"sBZIsG9XleXK3sQWDOv0wOz4u9aekqP6kzykGfZBgfkZ","custom":"","domainhidden":"general","srclanghidden":"es","destlanghidden":"en","basemodelhidden":"","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.eu-gb.language-translator.watson.cloud.ibm.com/instances/c98afc69-8ae2-4ba5-852a-1eea0f550851","x":900,"y":740,"wires":[["c54f9e7a.7a43"]]},{"id":"c54f9e7a.7a43","type":"function","z":"e733102c.d7328","name":"Pass to transcription","func":"msg.transcription = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":660,"wires":[["5a0ccf45.2fac9"]]},{"id":"4e49a5e.fddf55c","type":"function","z":"e733102c.d7328","name":"Check for interests","func":"//We check if there is interest in this input\nvar payload = msg.payload;\n\n//Only if this message was an answer to the user.\nvar answerToUser = flow.get('answerToUser');\nif(answerToUser){\n    if (payload){\n        var entities = payload.entities;\n        if (entities){\n            if(entities.length>0){\n                var stringFrom = entities[0].location[0];\n                var stringUntil = entities[0].location[1];\n                var message = payload.input.text\n                var possibleInterest = message.slice(stringFrom,stringUntil);\n                var possibleInterests = flow.get('possibleInterests');\n                \n                //We check if this possible interest is not yet in the possibleInterests array\n                var repeated = false;\n                for(var i; i<possibleInterests.length;i++){\n                    if(possibleInterest === possibleInterests[i]){\n                        repeated = true;\n                        break;\n                    }\n                }\n                if(!repeated){\n                    possibleInterests.push(possibleInterest);\n                    flow.set(\"possibleInterests\",possibleInterests);\n                    msg.payload = possibleInterest;\n                }else{\n                    msg.payload = \"No need to notify\";\n                }\n            }else{\n                msg.payload = \"No need to notify\";\n            }\n        }\n    }\n}else{\n    msg.payload = \"No need to notify\";\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1410,"y":620,"wires":[["37915076.8a50b"]]},{"id":"37915076.8a50b","type":"switch","z":"e733102c.d7328","name":"New interest detected?","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"No need to notify","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1650,"y":620,"wires":[["2aeb35c.f3916ca"]]},{"id":"ae60b525.1d28f8","type":"ui_toast","z":"e733102c.d7328","position":"dialog","displayTime":"15","highlight":"","sendall":true,"outputs":1,"ok":"Yes","cancel":"No","raw":false,"topic":"Confirm Interest","name":"Confirm Interest","x":2120,"y":620,"wires":[["c007f9af.ec6988"]]},{"id":"2aeb35c.f3916ca","type":"function","z":"e733102c.d7328","name":"Prepare notification","func":"msg.payload = \"Hey, I heard you talking about \"+msg.payload+\". Is this something you are interested in?\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1900,"y":620,"wires":[["ae60b525.1d28f8"]]},{"id":"c007f9af.ec6988","type":"function","z":"e733102c.d7328","name":"Save confirmed interest","func":"var possibleInterests = flow.get('possibleInterests');\nif(msg.payload === 'Yes'){\n    //If the user said yes, we save this interest in the confirmed interests.\n        if(possibleInterests.length > 0){\n            var interest = possibleInterests.pop();\n            flow.set(\"possibleInterests\",possibleInterests);\n            var confirmedInterests = flow.get(\"confirmedInterests\");\n            confirmedInterests.push(interest);\n            flow.set(\"confirmedInterests\",confirmedInterests);\n    }\n}else if(msg.payload === 'No'){\n    //If the user said no, we erase this of the possible interests.\n    var interestToDelete = possibleInterests.pop();\n    flow.set(\"possibleInterests\",possibleInterests);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2390,"y":620,"wires":[[]]},{"id":"bf687080.50d1e","type":"inject","z":"e733102c.d7328","name":"Time to confirm interests","props":[{"p":"payload"}],"repeat":"","crontab":"00 14 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":160,"wires":[["12da7a0f.1bcaf6"]]},{"id":"12da7a0f.1bcaf6","type":"function","z":"e733102c.d7328","name":"Interests to confirm available?","func":"var possibleInterests = flow.get('possibleInterests');\nif(possibleInterests){\n    if(possibleInterests.length>0){\n        msg.transcription = 'a0d8e1e4-6505-441a-9236-518de55a5dcf';\n        return msg;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":160,"wires":[["5a0ccf45.2fac9"]]},{"id":"cbb4c61b.36eb68","type":"ui_button","z":"e733102c.d7328","name":"Send button","group":"686b1dac.a4ce64","order":6,"width":9,"height":1,"passthru":false,"label":"Send","tooltip":"","color":"white","bgcolor":"grey","icon":"send","payload":"textInput","payloadType":"global","topic":"","x":250,"y":760,"wires":[["c180d3e6.87735","554ee334.7e29ec","d71105a.a71bbf8","9a22762b.5666d8"]]},{"id":"2016c68c.d5d27a","type":"inject","z":"e733102c.d7328","name":"Time to ask interests","props":[{"p":"payload"}],"repeat":"","crontab":"00 11 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"c53ced4b-b69f-4702-aa8b-9f382508ed33","payloadType":"msg","x":620,"y":280,"wires":[["5a0ccf45.2fac9"]]},{"id":"7ef489b7.26a2d8","type":"ui_audio","z":"e733102c.d7328","name":"Spanish voice","group":"ccb15e6c.a6544","voice":"es-ES","always":"","x":4200,"y":420,"wires":[]},{"id":"db1b8724.e7be18","type":"watson-translator","z":"e733102c.d7328","name":"Translator ENG-SPA","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"es","password":"Gmailcole94.","apikey":"sBZIsG9XleXK3sQWDOv0wOz4u9aekqP6kzykGfZBgfkZ","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"es","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.eu-gb.language-translator.watson.cloud.ibm.com/instances/c98afc69-8ae2-4ba5-852a-1eea0f550851","x":3980,"y":420,"wires":[["7ef489b7.26a2d8"]]},{"id":"f88debf3.457828","type":"inject","z":"e733102c.d7328","name":"Time to watch videos","props":[{"p":"payload"}],"repeat":"","crontab":"00 16 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"50a7c6dc-53b0-44cb-8fa7-47e27eb60854","payloadType":"str","x":620,"y":220,"wires":[["5a0ccf45.2fac9"]]},{"id":"395e3add.e68ef6","type":"trigger","z":"e733102c.d7328","name":"Last message >3 hrs ago","op1":"","op2":"SadPets","op1type":"str","op2type":"str","duration":"3","extend":true,"units":"hr","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":790,"y":1000,"wires":[[],["30e15680.d305aa","f0cec905.1ae438"]]},{"id":"554ee334.7e29ec","type":"trigger","z":"e733102c.d7328","name":"Last message >10 min ago","op1":"","op2":"HappyPets","op1type":"str","op2type":"str","duration":"1","extend":true,"units":"hr","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":480,"y":940,"wires":[[],["395e3add.e68ef6","c91c3cda.27877","d71105a.a71bbf8","f0969f59.e0204","5274b990.a93f18"]]},{"id":"c91c3cda.27877","type":"link out","z":"e733102c.d7328","name":"","links":["d98f124b.cf925"],"x":695,"y":880,"wires":[]},{"id":"55d70038.7a7ba","type":"link out","z":"e733102c.d7328","name":"","links":["678229a0.f9e628"],"x":1155,"y":980,"wires":[]},{"id":"678229a0.f9e628","type":"link in","z":"e733102c.d7328","name":"","links":["641d36ea.1e24d8","55d70038.7a7ba"],"x":3135,"y":220,"wires":[["347a4cbc.f8cd54"]]},{"id":"bf5aa4a1.17ba88","type":"link in","z":"e733102c.d7328","name":"","links":["beef3f79.50c36","aaa3b069.4728b"],"x":3275,"y":320,"wires":[["d5e97260.4bb47"]]},{"id":"d98f124b.cf925","type":"link in","z":"e733102c.d7328","name":"","links":["c91c3cda.27877"],"x":95,"y":620,"wires":[["738d56e.2e788a8"]]},{"id":"738d56e.2e788a8","type":"change","z":"e733102c.d7328","name":"Clear typed message","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":620,"wires":[["c180d3e6.87735"]]},{"id":"d71105a.a71bbf8","type":"change","z":"e733102c.d7328","name":"Clear input box","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":820,"wires":[["87aa6528.0fc1c8"]]},{"id":"641d36ea.1e24d8","type":"link out","z":"e733102c.d7328","name":"","links":["678229a0.f9e628"],"x":895,"y":920,"wires":[]},{"id":"beef3f79.50c36","type":"link out","z":"e733102c.d7328","name":"","links":["bf5aa4a1.17ba88"],"x":1155,"y":1020,"wires":[]},{"id":"30e15680.d305aa","type":"change","z":"e733102c.d7328","name":"Set sad answer","rules":[{"t":"set","p":"payload","pt":"msg","to":"We miss you...","tot":"str"},{"t":"set","p":"pet","pt":"msg","to":"My WapetsBot","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":1020,"wires":[["beef3f79.50c36"]]},{"id":"aaa3b069.4728b","type":"link out","z":"e733102c.d7328","name":"","links":["bf5aa4a1.17ba88"],"x":895,"y":960,"wires":[]},{"id":"f0969f59.e0204","type":"change","z":"e733102c.d7328","name":"Set happy answer","rules":[{"t":"set","p":"payload","pt":"msg","to":"Let us know when you are back!","tot":"str"},{"t":"set","p":"pet","pt":"msg","to":"My WapetsBot","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":960,"wires":[["aaa3b069.4728b"]]},{"id":"5274b990.a93f18","type":"change","z":"e733102c.d7328","name":"Set happy pets","rules":[{"t":"set","p":"pet","pt":"msg","to":"HappyPets","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":920,"wires":[["641d36ea.1e24d8"]]},{"id":"f0cec905.1ae438","type":"change","z":"e733102c.d7328","name":"Set sad pets","rules":[{"t":"set","p":"pet","pt":"msg","to":"SadPets","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":980,"wires":[["55d70038.7a7ba"]]},{"id":"d4a7b69c.a7dcd8","type":"function","z":"e733102c.d7328","name":"New day","func":"flow.set(\"interactionMoments\",[])","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":1300,"wires":[[]]},{"id":"1a220d85.eac242","type":"inject","z":"e733102c.d7328","name":"Set new day","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":1300,"wires":[["d4a7b69c.a7dcd8"]]},{"id":"cd5d6d93.27b3d","type":"switch","z":"e733102c.d7328","name":"","property":"pet","propertyType":"msg","rules":[{"t":"eq","v":"WelcomeBot","vt":"str"},{"t":"eq","v":"DukeBot","vt":"str"},{"t":"eq","v":"OmarBot","vt":"str"},{"t":"eq","v":"SandyBot","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":3930,"y":340,"wires":[["683ed24b.f0d44c"],["61a6c979.ddbb48"],["20f11f79.7a6aa"],["ed344133.b7fa9"]]},{"id":"683ed24b.f0d44c","type":"ui_audio","z":"e733102c.d7328","name":"WelcomeBot","group":"ccb15e6c.a6544","voice":"en-US","always":"","x":4130,"y":240,"wires":[]},{"id":"61a6c979.ddbb48","type":"ui_audio","z":"e733102c.d7328","name":"Duke","group":"686b1dac.a4ce64","voice":"en-GB","always":"","x":4110,"y":280,"wires":[]},{"id":"20f11f79.7a6aa","type":"ui_audio","z":"e733102c.d7328","name":"Omar","group":"686b1dac.a4ce64","voice":"en-US","always":"","x":4110,"y":320,"wires":[]},{"id":"ed344133.b7fa9","type":"ui_audio","z":"e733102c.d7328","name":"Sandy","group":"686b1dac.a4ce64","voice":"en-US","always":"","x":4110,"y":360,"wires":[]},{"id":"789d2e21.ed421","type":"ui_microphone","z":"e733102c.d7328","group":"686b1dac.a4ce64","order":4,"width":3,"height":2,"name":"","maxLength":"20","timeslice":0,"x":210,"y":420,"wires":[["14e1b0aa.fb473f"]]},{"id":"e1df1c00.cdb36","type":"change","z":"e733102c.d7328","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"transcription","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":560,"wires":[["c180d3e6.87735"]]},{"id":"2715a57e.1811ea","type":"debug","z":"e733102c.d7328","name":"new message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":460,"y":1700,"wires":[]},{"id":"cf6d52f.38bf9b","type":"debug","z":"e733102c.d7328","name":"notification time","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1890,"y":1580,"wires":[]},{"id":"4f9e5402.35bb3c","type":"watson-speech-to-text","z":"e733102c.d7328","name":"","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"es-PE","langhidden":"es-PE","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"Gailcole94.","apikey":"BNbrvSYFcv9vcwf0xRs2FyF9Jgk4BpdFAnYecrCicYCH","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/fe871c82-b7a0-4479-95fc-2b8d488b7e33","x":620,"y":360,"wires":[["b40537cf.2fe668","a7ce444d.171348"]]},{"id":"14e1b0aa.fb473f","type":"switch","z":"e733102c.d7328","name":"SPA or ENG","property":"textInSpanish","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":420,"wires":[["4f9e5402.35bb3c"],["1dc36080.52105"]]},{"id":"991d15be.4e1aa8","type":"change","z":"e733102c.d7328","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"transcription","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":760,"wires":[["aeace9c0.7b8f28"]]},{"id":"5585170d.d71738","type":"watson-translator","z":"e733102c.d7328","name":"Translator ENG-SPA","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"es","password":"Gmailcole94.","apikey":"sBZIsG9XleXK3sQWDOv0wOz4u9aekqP6kzykGfZBgfkZ","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"es","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.eu-gb.language-translator.watson.cloud.ibm.com/instances/c98afc69-8ae2-4ba5-852a-1eea0f550851","x":3700,"y":280,"wires":[["2520e99e.5e7f16"]]},{"id":"d5e97260.4bb47","type":"switch","z":"e733102c.d7328","name":"ENG or SPA","property":"textInSpanish","propertyType":"flow","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":3430,"y":280,"wires":[["2520e99e.5e7f16"],["5585170d.d71738"]]},{"id":"b40537cf.2fe668","type":"link out","z":"e733102c.d7328","name":"","links":["e4dd8773.641688"],"x":755,"y":340,"wires":[]},{"id":"e4dd8773.641688","type":"link in","z":"e733102c.d7328","name":"","links":["b40537cf.2fe668"],"x":515,"y":760,"wires":[["991d15be.4e1aa8"]]},{"id":"a7ce444d.171348","type":"link out","z":"e733102c.d7328","name":"","links":["f3409356.41039"],"x":755,"y":400,"wires":[]},{"id":"f3409356.41039","type":"link in","z":"e733102c.d7328","name":"","links":["a7ce444d.171348","25c0039f.6fcf3c"],"x":155,"y":560,"wires":[["e1df1c00.cdb36"]]},{"id":"25c0039f.6fcf3c","type":"link out","z":"e733102c.d7328","name":"","links":["f3409356.41039"],"x":755,"y":520,"wires":[]},{"id":"686b1dac.a4ce64","type":"ui_group","z":"","name":"Talk","tab":"ecbadd8d.86045","order":1,"disp":true,"width":12,"collapse":false},{"id":"a02b2846.c08cd8","type":"ui_group","z":"","name":"Youtube Player","tab":"43511e5d.11909","order":3,"disp":false,"width":"30","collapse":false},{"id":"ccb15e6c.a6544","type":"ui_group","z":"","name":"Listen","tab":"ecbadd8d.86045","order":2,"disp":true,"width":12,"collapse":false},{"id":"ecbadd8d.86045","type":"ui_tab","z":"","name":"My Wapets","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"43511e5d.11909","type":"ui_tab","z":"","name":"Watch Youtube","icon":"dashboard","order":3,"disabled":false,"hidden":false}]